@media only screen and (min-width:200px) and (max-width:575px) {
    header {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        gap: 15px;
    }

    .headerLeft {
        justify-content: center;
    }

    .logo {
        padding: 13px;
    }

    .headerAddress {
        padding: 10px;
    }

    .headerAddress h3 {
        font-size: 16px;
    }

    .headerAddress p {
        font-size: 12px;
    }

    .Search button {
        padding: 10px;
    }

    .header-btn {
        position: fixed;
        background-color: white;
        width: 100%;
        margin-right: 0px;
        justify-content: center;
        bottom: 0px;
    }

    .banner-section {
        display: none;
    }

    .order-bnr {
        padding: 10px;
        flex-direction: column;
    }

    .category-sec {
        padding: 10px;
    }

    .category-items {
        flex-basis: 25%;
    }

    .headingRow {
        padding: 5px;
    }

    .productRow {
        flex-wrap: wrap;
        gap: 2%;
        padding: 0px 10px;

    }

    .product-item {
        flex-basis: 48%;
        margin-bottom: 15px;
    }

}